@charset "UTF-8";
.defense {
  position: relative;
  background: #22252e;
  padding: 0 20px;
}

@media (max-width: 415px) {
  .defense {
    padding: 0 38px 0 20px;
  }
}

.defense__wrapper {
  max-width: 611px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0 11px;
}

@media (max-width: 768px) {
  .defense__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px auto;
    max-width: 317px;
    padding: 12px 0 13px;
  }
}

@media (max-width: 415px) {
  .defense__wrapper {
    max-width: 100%;
  }
}

.defense__item:first-child {
  padding-left: 2px;
}

@media (min-width: 769px) {
  .defense__item:not(:last-child) {
    padding-right: 32px;
  }
}

@media (max-width: 768px) {
  .defense__item:first-child {
    padding-bottom: 8px;
  }
  .defense__item:nth-child(2n) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .defense__item:nth-child(3n) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .defense__item:nth-child(4n) {
    padding: 0 9px 8px 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.defense__warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.defense__warning-icon {
  width: 21px;
  height: 19px;
  margin-right: 5px;
}

.defense__warning-text {
  font-family: "Roboto", normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #ff8d00;
}

.defense__ip {
  font-family: "Roboto", normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #889099;
}

.defense__isp {
  font-family: "Roboto", normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #889099;
}

.defense__more {
  font-family: "Roboto", normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

.defense__close {
  position: absolute;
  top: 8px;
  right: 16px;
}

@media (max-width: 768px) {
  .defense__close {
    top: 10px;
    right: 10px;
  }
}

.defense__close-icon {
  width: 24px;
  height: 24px;
}

.header {
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
}

.header .interaction {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1212px;
  padding: 52px 10px 46px 12px;
}

@media (max-width: 640px) {
  .header .interaction {
    padding: 16px 10px 45px 12px;
  }
}

.header .interaction__company {
  padding-top: 1px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 920px) {
  .header .interaction__company {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}

@media (max-width: 920px) and (max-width: 640px) {
  .header .interaction__company {
    left: 60px;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.header .interaction__burger {
  position: relative;
  width: 24px;
  height: 17px;
}

@media (min-width: 921px) {
  .header .interaction__burger {
    display: none;
  }
}

.header .interaction__burger:before, .header .interaction__burger:after,
.header .interaction__burger span {
  z-index: 100;
  position: absolute;
  left: 0;
  content: " ";
  width: 100%;
  height: 2px;
  background: #22252e;
  border-radius: 3px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header .interaction__burger:before {
  top: 0;
}

.header .interaction__burger:after {
  bottom: 0;
}

.header .interaction__burger span {
  top: 7px;
}

.header .interaction__burger.active:before, .header .interaction__burger.active:after,
.header .interaction__burger.active span {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background: #889099;
}

.header .interaction__burger.active:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.header .interaction__burger.active:after {
  top: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .interaction__burger.active span {
  right: 100px;
  opacity: 0;
}

.header .interaction__menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding-left: 2px;
  top: 53px;
}

@media (max-width: 920px) {
  .header .interaction__menu {
    left: -100%;
    top: 0px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .header .interaction__menu.active {
    left: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
}

.header .interaction__menu-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 920px) {
  .header .interaction__menu-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 65px 58px 0 58px;
    height: 100vh;
    background: #22252e;
  }
}

@media (max-width: 920px) {
  .header .interaction__menu-item {
    margin-bottom: 30px;
  }
}

.header .interaction__menu-item:not(:last-child) {
  margin-right: 30px;
}

.header .interaction__menu-item:nth-child(1) > .interaction__menu-link {
  padding-right: 20px;
}

.header .interaction__menu-item:nth-child(2) > .interaction__menu-link:after {
  display: none;
}

.header .interaction__menu-item:nth-child(3) > .interaction__menu-link {
  padding-right: 18px;
}

.header .interaction__menu-item:nth-child(4) > .interaction__menu-link {
  padding-right: 16px;
}

.header .interaction__menu-item:last-child {
  position: relative;
}

.header .interaction__menu-item:last-child:before {
  position: absolute;
  content: " ";
  width: 97px;
  height: 3px;
  background: #4cb649;
  bottom: -9px;
  left: 0;
}

.header .interaction__menu-link {
  font-family: "Roboto", normal;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
  position: relative;
}

@media (max-width: 920px) {
  .header .interaction__menu-link {
    color: #889099;
  }
}

.header .interaction__menu-link:after {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #323642;
  right: 0;
  top: 5px;
}

.header .interaction__account {
  top: 41px;
}

@media (min-width: 1321px) {
  .header .interaction__account {
    position: absolute;
    right: 60px;
  }
}

.header .interaction__account-login {
  width: 90px;
  height: 40px;
  border-radius: 30px;
  margin-right: 7px;
  font-family: "Roboto", normal;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4cb649;
  background: #fff;
  outline: 1px solid #4cb649;
}

@media (max-width: 1200px) {
  .header .interaction__account-login {
    display: none;
  }
}

.header .interaction__account-start {
  width: 160px;
  height: 40px;
  border-radius: 30px;
  font-family: "Roboto", normal;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left bottom, left top, from(#4cb649), to(#5ddf5a));
  background: linear-gradient(0deg, #4cb649 0%, #5ddf5a 100%);
  color: #ffffff;
}

@media (max-width: 640px) {
  .header .interaction__account-start {
    width: 126px;
  }
}

.header .intro {
  padding: 0 20px;
  max-width: 1240px;
}

.header .intro__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.101961);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.101961);
}

@media (max-width: 1024px) {
  .header .intro__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px auto;
  }
}

.header .intro__block-picture {
  max-width: 600px;
  width: 100%;
}

.header .intro__block-img {
  border-radius: 6px 0 0 6px;
}

@media (max-width: 1024px) {
  .header .intro__block-img {
    width: 100%;
    border-radius: 6px 6px 0 0;
  }
}

.header .intro__block-info {
  max-width: 600px;
  width: 100%;
  padding: 57px 60px 39px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  border: 1px solid #d7d8d9;
  border-radius: 0px 6px 6px 0;
}

@media (max-width: 1220px) {
  .header .intro__block-info {
    padding: 30px 30px 14px 29px;
  }
}

@media (max-width: 1024px) {
  .header .intro__block-info {
    border-radius: 0 0 6px 6px;
  }
}

.header .intro__block-title {
  font-family: "Roboto", normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #22252e;
  padding-bottom: 14px;
}

@media (max-width: 1220px) {
  .header .intro__block-title {
    padding-bottom: 15px;
  }
}

.header .intro__block-autor {
  font-family: "Roboto", normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #323642;
}

.header .intro__block-autor span {
  padding-left: 8px;
  color: #889099;
}

.header .intro__block-autor span.date {
  padding-left: 7px;
}

.header .intro__block-copyright {
  font-family: "Roboto", normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4cb649;
  margin: 12px 0 9px;
}

@media (max-width: 1220px) {
  .header .intro__block-copyright {
    margin: 11px 0 9px;
  }
}

.header .intro__block-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .intro__block-comments .comments-block__icon {
  background: url("../img/comment.svg");
  width: 16px;
  height: 16px;
  margin: 0 9px 0 3px;
}

@media (max-width: 1025px) {
  .header .intro__block-comments .comments-block__icon {
    background: url("../img/comment_mobile.svg");
  }
}

.header .intro__block-comments .comments-block__num {
  font-family: "Roboto", normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #889099;
}

.header .tags {
  margin-top: 30px;
  max-width: 1240px;
  width: 100%;
}

@media (min-width: 1121px) {
  .header .tags {
    padding: 0 20px;
    border-radius: 4px;
  }
}

@media (max-width: 768px) {
  .header .tags {
    display: none;
  }
}

.header .tags__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 21px 31px 21px 32px;
  background: #f7f7f7;
  width: 100%;
}

@media (max-width: 1120px) {
  .header .tags__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .tags__list {
  display: inline-block;
}

.header .tags__list-item {
  margin-right: 30px;
  display: inline;
  font-family: "Roboto", normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
}

.header .tags__list-item:first-child {
  margin-right: 40px;
}

.header .tags__list-link {
  color: #4cb649;
  letter-spacing: 0.8px;
}

@media (max-width: 1120px) {
  .header .tags__block {
    width: 100%;
  }
  .header .tags__block:last-child {
    margin-top: 20px;
  }
}

.header .tags__block-btn {
  font-family: "Roboto", normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
}

.header .tags__block-btn:first-child {
  margin-right: 34px;
}

.wrapper {
  max-width: 1240px;
  padding: 0 20px;
  margin: 40px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main {
  width: 100%;
  margin-bottom: 73px;
}

@media (max-width: 1024px) {
  .main {
    margin-bottom: 70px;
  }
}

@media (max-width: 1024px) {
  .main {
    margin-bottom: 28px;
  }
}

@media (min-width: 1025px) {
  .main {
    max-width: 800px;
    border-right: 1px solid #ebeced;
  }
}

@media (max-width: 1024px) {
  .main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10px;
  }
}

.main__title {
  font-family: "Roboto", normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 44px;
  color: #22252e;
  margin-bottom: 38px;
}

@media (max-width: 1024px) {
  .main__title {
    margin: 39px 0 39px 10px;
  }
}

.main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d7d8d9;
  border-radius: 4px;
  padding: 15px 20px 14px 18px;
}

@media (min-width: 1024px) {
  .main__form {
    display: none;
  }
}

.main__form-btn {
  background: #fff;
}

.main__form-input {
  width: 100%;
  font-family: "Roboto", normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #22252e;
  margin-left: 19px;
}

.main__form-input::-webkit-input-placeholder {
  color: #22252e;
  opacity: 1;
}

.main__form-input:-ms-input-placeholder {
  color: #22252e;
  opacity: 1;
}

.main__form-input::-ms-input-placeholder {
  color: #22252e;
  opacity: 1;
}

.main__form-input::placeholder {
  color: #22252e;
  opacity: 1;
}

.main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 260px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #4cb649;
  margin: 40px auto 0;
  -webkit-transform: translate(-9px, 0);
          transform: translate(-9px, 0);
  font-family: "Roboto", normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4cb649;
}

@media (max-width: 375px) {
  .main__button {
    margin: 30px 0 0 19px;
    width: 315px;
  }
}

.post {
  max-width: 745px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 52px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ebeced;
}

@media (max-width: 620px) {
  .post:nth-child(1) {
    padding-bottom: 48px;
    margin-bottom: 19px;
  }
  .post:nth-child(1) .post__text {
    margin-top: 20px;
  }
  .post:nth-child(1) .post__text-title {
    padding-bottom: 13px;
  }
  .post:nth-child(1) .post__text-autor {
    padding-bottom: 7px;
  }
  .post:nth-child(1) .post__text-autor .between {
    margin-left: -31px;
  }
  .post:nth-child(1) .post__text-tags {
    padding-bottom: 0;
  }
  .post:nth-child(1) .post__text .post__text-comments {
    margin: -3px 0 0 2px;
  }
}

@media (min-width: 1025px) {
  .post:nth-child(2) {
    padding-bottom: 30px;
  }
}

@media (max-width: 620px) {
  .post:nth-child(2) {
    padding-bottom: 38px;
    margin-bottom: 17px;
  }
}

@media (max-width: 620px) {
  .post:nth-child(2) .post__text {
    margin: 20px 0 0 0;
  }
}

.post:nth-child(2) .post__text-title {
  padding-bottom: 12px;
}

@media (max-width: 620px) {
  .post:nth-child(2) .post__text-title {
    padding-bottom: 7px;
  }
}

.post:nth-child(2) .post__text-autor {
  padding-bottom: 9px;
}

@media (max-width: 620px) {
  .post:nth-child(2) .post__text-autor {
    padding-bottom: 8px;
  }
}

.post:nth-child(2) .post__text-autor .between {
  padding-left: 10px;
}

@media (max-width: 620px) {
  .post:nth-child(2) .post__text-autor .between {
    margin-left: -17px;
  }
}

.post:nth-child(2) .post__text-autor .date {
  padding-left: 7px;
}

@media (max-width: 620px) {
  .post:nth-child(2) .post__text-autor .date {
    padding-left: 6px;
  }
}

.post:nth-child(2) .post__text-tags {
  padding-left: 1px;
  font-size: 14px;
  padding-bottom: 9px;
}

@media (max-width: 620px) {
  .post:nth-child(2) .post__text-tags {
    font-size: 12px;
  }
}

.post:nth-child(2) .post__text-comments {
  padding-left: 6px;
}

@media (max-width: 620px) {
  .post:nth-child(2) .post__text-comments {
    padding-left: 8px;
  }
}

.post:nth-child(3) {
  padding-bottom: 31px;
}

@media (max-width: 620px) {
  .post:nth-child(3) {
    padding-bottom: 44px;
  }
}

@media (max-width: 620px) {
  .post:nth-child(3) .post__text {
    margin: 19px 0 0 0;
  }
}

.post:nth-child(3) .post__text-title {
  padding: 1px 0 10px;
}

@media (max-width: 620px) {
  .post:nth-child(3) .post__text-title {
    padding: 1px 0 21px;
  }
}

@media (max-width: 375px) {
  .post:nth-child(3) .post__text-title span {
    display: block;
  }
}

.post:nth-child(3) .post__text-autor {
  padding-bottom: 7px;
}

.post:nth-child(3) .post__text-autor .between {
  padding-left: 11px;
}

@media (max-width: 375px) {
  .post:nth-child(3) .post__text-autor .between {
    padding: 0;
    margin-left: -15px;
  }
}

.post:nth-child(3) .post__text-autor .date {
  padding-left: 7px;
}

.post:nth-child(3) .post__text-tags {
  padding-bottom: 9px;
}

.post:nth-child(3) .post__text-comments {
  padding-left: 6px;
}

@media (max-width: 620px) {
  .post:nth-child(3) .post__text-comments {
    padding-left: 8px;
  }
}

@media (min-width: 1025px) {
  .post:nth-child(4) {
    padding-top: 12px;
  }
}

.post:nth-child(4) .post__text-autor {
  padding-bottom: 7px;
}

.post:nth-child(4) .post__text-autor .date {
  padding-left: 8px;
}

.post:nth-child(5) .post__text-title {
  padding-bottom: 12px;
}

.post:nth-child(5) .post__text-autor {
  padding-bottom: 9px;
}

.post:nth-child(5) .post__text-autor span {
  padding-left: 10px;
}

.post:nth-child(5) .post__text-autor span.date {
  padding-left: 7px;
}

.post:nth-child(5) .post__text-tags {
  padding: 0 0 9px 1px;
  font-size: 14px;
}

@media (min-width: 1025px) {
  .post:nth-child(5) {
    padding-bottom: 30px;
  }
}

.post:nth-child(6) {
  padding-bottom: 32px;
}

.post:nth-child(6) .post__text-title {
  padding: 2px 0 9px;
}

.post:nth-child(6) .post__text-autor {
  padding-bottom: 7px;
}

.post:nth-child(6) .post__text-autor span {
  padding-left: 12px;
}

.post:nth-child(6) .post__text-autor span.date {
  padding-left: 3px;
}

.post:nth-child(6) .post__text-tags {
  padding-bottom: 9px;
}

@media (max-width: 620px) {
  .post.post-desktop {
    display: none;
  }
}

@media (max-width: 1024px) {
  .post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 49%;
  }
}

@media (max-width: 620px) {
  .post {
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .post:not(:last-child) {
    margin-bottom: 29px;
  }
}

.post__img {
  padding-top: 1px;
}

@media (min-width: 1025px) {
  .post__img {
    width: 280px;
    height: 180px;
  }
}

@media (max-width: 375px) {
  .post__img {
    height: 200px;
  }
}

@media (max-width: 1024px) {
  .post__img-picture {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .post__img-picture {
    height: 100%;
  }
}

.post__text {
  margin: 0 0px 0 40px;
}

@media (max-width: 1024px) {
  .post__text {
    margin: 18px 0 0 0;
  }
}

@media (min-width: 1025px) {
  .post__text.margin-left20 {
    margin-left: 20px;
  }
}

.post__text-title {
  font-family: "Roboto", normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #22252e;
  padding-bottom: 8px;
}

.post__text-autor {
  font-family: "Roboto", normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #323642;
  padding-bottom: 8px;
}

.post__text-autor span {
  padding-left: 11px;
  color: #889099;
}

.post__text-autor span.date {
  padding-left: 4px;
}

.post__text-tags {
  font-family: "Roboto", normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4cb649;
  padding-bottom: 12px;
}

.post__text .post-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 6px;
}

@media (max-width: 620px) {
  .post__text .post-comments__icon {
    display: none;
  }
}

.post__text .post-comments__num {
  font-family: "Roboto", normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #889099;
  margin-left: 12px;
}

.sidebar {
  width: 100%;
  padding-bottom: 107px;
}

@media (min-width: 1025px) {
  .sidebar {
    max-width: 400px;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 620px) {
  .sidebar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1025px) {
  .sidebar aside {
    max-width: 340px;
    margin-left: auto;
  }
}

@media (max-width: 1024px) {
  .sidebar aside {
    width: 49%;
  }
}

@media (max-width: 620px) {
  .sidebar aside {
    width: 100%;
    max-width: 315px;
  }
}

@media (max-width: 1024px) {
  .sidebar .search {
    display: none;
  }
}

.sidebar .search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d7d8d9;
  border-radius: 4px;
  padding: 15px 20px 14px 18px;
}

.sidebar .search__form-btn {
  background: #fff;
}

.sidebar .search__form-input {
  width: 100%;
  font-family: "Roboto", normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #22252e;
  margin-left: 19px;
}

.sidebar .search__form-input::-webkit-input-placeholder {
  color: #22252e;
  opacity: 1;
}

.sidebar .search__form-input:-ms-input-placeholder {
  color: #22252e;
  opacity: 1;
}

.sidebar .search__form-input::-ms-input-placeholder {
  color: #22252e;
  opacity: 1;
}

.sidebar .search__form-input::placeholder {
  color: #22252e;
  opacity: 1;
}

.sidebar .notice {
  padding: 42px 0 28px 0px;
  border-bottom: 1px solid #ebeced;
}

@media (max-width: 620px) {
  .sidebar .notice {
    padding: 42px 0 29px 0px;
  }
}

.sidebar .notice.last-notice {
  padding-bottom: 31px;
}

@media (max-width: 620px) {
  .sidebar .notice.last-notice {
    padding: 71px 0 28px 0;
    margin-bottom: 31px;
  }
}

.sidebar .notice.last-notice .notice__list {
  margin: 1px 0 0 0;
}

.sidebar .notice.last-notice .notice__list-item:last-child {
  margin-top: -1px;
}

@media (max-width: 620px) {
  .sidebar .notice.last-notice .notice__list-item:last-child {
    margin: -2px 0 0 -1px;
  }
}

.sidebar .notice.last-notice .notice__topic {
  -webkit-transform: translate(-2px, 0);
          transform: translate(-2px, 0);
}

@media (max-width: 620px) {
  .sidebar .notice.last-notice .notice__topic {
    padding: 0 0 29px 4px;
  }
}

.sidebar .notice.last-notice .notice__topic-title {
  padding-left: 29px;
}

.sidebar .notice__topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 29px 10px;
}

@media (max-width: 620px) {
  .sidebar .notice__topic {
    padding: 0 0 30px 4px;
  }
}

.sidebar .notice__topic-title {
  font-family: "Roboto", normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #22252e;
  padding-left: 30px;
}

@media (max-width: 620px) {
  .sidebar .notice__list {
    margin: 1px 0 0 1px;
  }
}

.sidebar .notice__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #4cb649;
}

.sidebar .notice__list-item:before {
  content: "•";
  width: 3px;
  height: 3px;
  margin-right: 7px;
}

.sidebar .notice__list-item span {
  color: #323642;
}

.sidebar .notice__list-item:not(:last-child) {
  padding-bottom: 16px;
}

.sidebar__img {
  margin-top: 32px;
}

@media (min-width: 1025px) {
  .sidebar__img {
    height: 454px;
  }
}

@media (max-width: 620px) {
  .sidebar__img {
    margin: 0px auto;
  }
}

.sidebar__img-picture {
  width: 100%;
}

@media (min-width: 1025px) {
  .sidebar .tags {
    margin-top: 51px;
  }
}

@media (max-width: 620px) {
  .sidebar .tags {
    margin: 60px auto -4px;
  }
}

@media (min-width: 621px) and (max-width: 1024px) {
  .sidebar .tags {
    margin-top: 32px;
  }
}

.sidebar .tags__title {
  font-family: "Roboto", normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #22252e;
  padding-bottom: 20px;
}

.sidebar .tags__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  max-width: 310px;
  padding-left: 3px;
}

.sidebar .tags__list-item {
  letter-spacing: -0.3px;
  padding: 0 4px 7px 0;
}

.sidebar .tags__list-link {
  font-family: "Roboto", normal;
  font-size: 13px;
  color: #889099;
  font-weight: 400;
}

.sidebar .tags__list-link.msip {
  font-weight: 600;
  font-size: 15px;
}

.sidebar .tags__list-link.china {
  font-size: 21px;
  font-weight: 500;
  color: #666666;
}

.sidebar .tags__list-link.nsa {
  font-weight: 600;
  color: #666;
  font-size: 16px;
}

.sidebar .tags__list-link.rus {
  font-weight: 500;
  font-size: 13px;
}

.sidebar .tags__list-link.internet {
  font-size: 14px;
  font-weight: 500;
}

.subscription {
  background: linear-gradient(135deg, #3d4251 0%, #272b35 100%);
  padding: 100px 20px 57px;
}

@media (max-width: 1024px) {
  .subscription {
    padding: 60px 30px 44px;
  }
}

.subscription__container {
  max-width: 1180px;
  margin: 0px auto;
}

.subscription__title {
  -webkit-transform: translate(-2px, 0);
          transform: translate(-2px, 0);
  font-family: "Roboto", normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 40px;
}

@media (max-width: 1024px) {
  .subscription__title {
    font-size: 32px;
    line-height: 44px;
  }
}

@media (min-width: 376px) {
  .subscription__title {
    letter-spacing: -0.5px;
  }
}

@media (max-width: 375px) {
  .subscription__title span {
    display: block;
    width: 100%;
  }
}

.subscription__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .subscription__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscription .card {
  position: relative;
  height: 340px;
  max-width: 380px;
  width: 100%;
  background: #fff;
  border: 1px solid #ebeced;
  border-radius: 6px;
  padding: 48px 20px 40px;
  -webkit-box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
  .subscription .card:not(:last-child) {
    margin-bottom: 18px;
  }
}

.subscription .card:nth-child(1) .card__term {
  margin-left: -7px;
}

@media (max-width: 375px) {
  .subscription .card:nth-child(1) .card__term {
    margin-left: 2px;
  }
}

.subscription .card:nth-child(1) .card__term:before {
  bottom: -1px;
  -webkit-transform: translate(-41%, 0);
          transform: translate(-41%, 0);
}

@media (max-width: 375px) {
  .subscription .card:nth-child(1) .card__term:before {
    -webkit-transform: translate(-66%, 0);
            transform: translate(-66%, 0);
  }
}

.subscription .card:nth-child(1) .card__price {
  -webkit-transform: translate(10px, 1px);
          transform: translate(10px, 1px);
}

@media (max-width: 375px) {
  .subscription .card:nth-child(1) .card__price {
    -webkit-transform: translate(7px, 1px);
            transform: translate(7px, 1px);
  }
}

.subscription .card:nth-child(1) .card__price span {
  margin-left: -56px;
}

.subscription .card:nth-child(1) .card__price span:before {
  left: 2px;
  top: 12px;
}

.subscription .card:nth-child(1) .card__price span:after {
  right: 21px;
  bottom: 18px;
}

.subscription .card:nth-child(1) .card__group {
  margin: 29px 0 0 2px;
}

.subscription .card:nth-child(1) .card__btn {
  bottom: 38px;
}

.subscription .card.best-offer {
  margin-bottom: 21px;
  padding: 56px 20px;
  border: 4px solid #4cb649;
}

@media (min-width: 1025px) {
  .subscription .card.best-offer {
    margin: 0 20px;
    height: 380px;
  }
}

@media (max-width: 1024px) {
  .subscription .card.best-offer {
    border: 4px solid #ff8d00;
    padding: 38px 20px 0;
  }
}

.subscription .card.best-offer .card__btn {
  color: #ffffff;
  bottom: 54px;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#4cb649), to(#5ddf5a));
  background: linear-gradient(0deg, #4cb649 0%, #5ddf5a 100%);
}

@media (max-width: 1024px) {
  .subscription .card.best-offer .card__btn {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(3.81%, #ff8d00), color-stop(97.78%, #ffa400));
    background: linear-gradient(0deg, #ff8d00 3.81%, #ffa400 97.78%);
  }
}

.subscription .card.best-offer .card__term {
  letter-spacing: 1px;
  padding-bottom: 15px;
  margin-bottom: 14px;
}

.subscription .card.best-offer .card__price span {
  margin-left: -35px;
}

.subscription .card.best-offer .card__price span:before {
  left: 12px;
  top: 12px;
}

.subscription .card.best-offer .card__price span:after {
  right: 12px;
  bottom: 18px;
}

.subscription .card.best-offer .card__group {
  margin-top: 18px;
}

@media (max-width: 1024px) {
  .subscription .card.best-offer .card__group {
    margin-top: 17px;
  }
}

.subscription .card.best-offer .card__group-privelege {
  padding-bottom: 3px;
}

@media (max-width: 1024px) {
  .subscription .card.best-offer .card__btn {
    bottom: 32px;
  }
}

@media (max-width: 1024px) {
  .subscription .card:nth-child(3) {
    padding: 49px 20px 40px;
  }
}

.subscription .card:nth-child(3) .card__term:before {
  bottom: -1px;
  -webkit-transform: translate(-52%, 0);
          transform: translate(-52%, 0);
}

.subscription .card:nth-child(3) .card__price {
  -webkit-transform: translate(10px, 1px);
          transform: translate(10px, 1px);
}

@media (max-width: 1024px) {
  .subscription .card:nth-child(3) .card__price {
    -webkit-transform: translate(6px, 1px);
            transform: translate(6px, 1px);
  }
}

.subscription .card:nth-child(3) .card__price span {
  margin-left: -56px;
}

.subscription .card:nth-child(3) .card__price span:before {
  left: 2px;
  top: 12px;
}

.subscription .card:nth-child(3) .card__price span:after {
  right: 21px;
  bottom: 18px;
}

.subscription .card:nth-child(3) .card__group {
  margin: 18px 0 0 -4px;
}

@media (max-width: 1024px) {
  .subscription .card:nth-child(3) .card__group {
    margin: 18px 0 0 -12px;
  }
}

.subscription .card:nth-child(3) .card__group-privelege {
  padding-left: 4px;
}

.subscription .card:nth-child(3) .card__group-privelege span {
  margin-right: 13px;
}

.subscription .card:nth-child(3) .card__group-discount {
  margin-left: 5px;
}

.subscription .card:nth-child(3) .card__btn {
  bottom: 38px;
}

.subscription .card__term {
  position: relative;
  font-family: "Roboto", normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #323642;
  padding-bottom: 12px;
  margin-bottom: 16px;
}

.subscription .card__term:before {
  content: " ";
  position: absolute;
  background: #4cb649;
  height: 2px;
  width: 24px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.subscription .card__price {
  max-width: 200px;
  margin: 0px auto;
  padding-bottom: 18px;
  position: relative;
  text-align: center;
  font-family: "Roboto", normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 66px;
  letter-spacing: -1.5px;
  color: #22252e;
  border-bottom: 1px solid #ebeced;
}

.subscription .card__price span:before, .subscription .card__price span:after {
  letter-spacing: 0.1px;
  position: absolute;
}

.subscription .card__price span:before {
  content: "$";
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}

.subscription .card__price span:after {
  content: "/mo.";
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}

.subscription .card__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscription .card__group-privelege {
  font-family: "Roboto", normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #323642;
  padding-bottom: 4px;
}

.subscription .card__group-privelege span {
  color: #f24458;
  margin-right: 8px;
  position: relative;
}

.subscription .card__group-privelege span:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 7px;
  background: #f24458;
}

.subscription .card__group-discount {
  font-family: "Roboto", normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #323642;
  text-align: center;
}

.subscription .card__btn {
  font-family: "Roboto", normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4cb649;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px auto;
  width: 205px;
  height: 40px;
  border: 1px solid #4cb649;
  border-radius: 30px;
}

.subscription__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 55px 0 33px;
}

@media (max-width: 1024px) {
  .subscription__pay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 37px 0 10px;
  }
}

.subscription__pay-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 786px;
  width: 100%;
}

@media (max-width: 1024px) {
  .subscription__pay-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 0 10px;
    margin-top: -1px;
  }
}

@media (max-width: 375px) {
  .subscription__pay-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1025px) {
  .subscription__pay-item:nth-child(1) {
    padding-right: 32px;
  }
  .subscription__pay-item:nth-child(2) {
    padding-right: 37px;
  }
  .subscription__pay-item:nth-child(3) {
    padding-right: 25px;
  }
  .subscription__pay-item:nth-child(4) {
    padding-right: 25px;
  }
  .subscription__pay-item:nth-child(5) {
    padding-right: 34px;
  }
  .subscription__pay-item:nth-child(6) {
    padding-right: 39px;
  }
}

@media (min-width: 376px) and (max-width: 1024px) {
  .subscription__pay-item {
    padding: 0 10px;
  }
  .subscription__pay-item:not(:last-child) {
    padding-bottom: 20px;
  }
}

@media (max-width: 375px) {
  .subscription__pay-item:not(:last-child) {
    padding-bottom: 30px;
  }
  .subscription__pay-item:nth-child(1) {
    padding-left: 3px;
  }
  .subscription__pay-item:nth-child(2) {
    padding-right: 6px;
  }
  .subscription__pay-item:nth-child(3) {
    padding-right: 23px;
  }
  .subscription__pay-item:nth-child(4) {
    margin-left: -4px;
  }
  .subscription__pay-item:nth-child(5) {
    margin-left: -10px;
  }
  .subscription__pay-item:nth-child(6) {
    padding-right: 7px;
  }
  .subscription__pay-item:nth-child(7) {
    margin-left: 108px;
  }
}

.subscription__pay-title {
  font-family: "Roboto", normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

@media (min-width: 1025px) {
  .subscription__pay-title {
    margin: 0 30px 0 9px;
  }
}

@media (max-width: 1024px) {
  .subscription__pay-title {
    padding-bottom: 21px;
  }
}

.subscription__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .subscription__more {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 23px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -4px;
  }
}

.subscription__more-btn {
  position: relative;
  font-family: "Roboto", normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4cb649;
  padding-right: 32px;
}

.subscription__more-btn:after {
  position: absolute;
  right: 0;
  bottom: -1px;
  content: url("../img/arrow.svg");
}

@media (min-width: 769px) {
  .subscription__more-btn:first-child {
    margin: 0 44px 0 -1px;
  }
}

@media (max-width: 768px) {
  .subscription__more-btn:first-child {
    margin-bottom: 40px;
  }
}

.footer {
  padding: 84px 0 91px;
}

@media (max-width: 425px) {
  .footer {
    padding: 38px 0 91px;
  }
}

.footer__container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0px auto;
}

.footer__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 33px;
  color: #000000;
}

@media (max-width: 425px) {
  .footer__title {
    font-size: 18px;
  }
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: ()[4];
      grid-template-columns: repeat(4);
  -ms-grid-rows: ()[2];
      grid-template-rows: repeat(2);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-top: 58px;
}

@media (max-width: 1200px) {
  .footer__wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: ()[3];
        grid-template-rows: repeat(3);
  }
}

@media (max-width: 768px) {
  .footer__wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: ()[3];
        grid-template-rows: repeat(3);
    padding-top: 49px;
  }
}

@media (min-width: 1201px) {
  .footer__group:nth-child(-n + 3) {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .footer__group:not(:last-child) {
    margin-bottom: 24px;
  }
}

.footer__group:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.footer__group:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

@media (max-width: 425px) {
  .footer__group:nth-of-type(2) {
    margin-left: 13px;
  }
}

.footer__group:nth-of-type(2) .footer__group-list:first-child {
  padding-bottom: 58px;
}

@media (max-width: 425px) {
  .footer__group:nth-of-type(2) .footer__group-list:first-child {
    padding-bottom: 24px;
  }
}

.footer__group:nth-of-type(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

@media (max-width: 768px) {
  .footer__group:nth-of-type(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media (max-width: 425px) {
  .footer__group:nth-of-type(3) .footer__group-item {
    padding-bottom: 9px;
  }
  .footer__group:nth-of-type(3) .footer__group-item:first-child {
    padding-bottom: 18px;
  }
  .footer__group:nth-of-type(3) .footer__group-item:nth-child(3) {
    padding-bottom: 12px;
  }
}

.footer__group:nth-of-type(4) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 2 / 5;
}

@media (max-width: 1200px) {
  .footer__group:nth-of-type(4) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 2 / 1 / 3 / 4;
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  .footer__group:nth-of-type(4) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
    padding-top: 6px;
  }
}

@media (max-width: 375px) {
  .footer__group:nth-of-type(4) .footer__group-item:nth-child(2) {
    padding-bottom: 21px;
  }
  .footer__group:nth-of-type(4) .footer__group-item:nth-child(3) {
    padding-bottom: 16px;
  }
  .footer__group:nth-of-type(4) .footer__group-item:nth-child(4) {
    padding-bottom: 16px;
  }
}

@media (min-width: 1201px) {
  .footer__group:nth-of-type(4) {
    max-width: 600px;
  }
  .footer__group:nth-of-type(4) .footer__group-list {
    margin-right: -5px;
  }
  .footer__group:nth-of-type(4) .footer__group-item:nth-child(2) {
    padding-bottom: 20px;
  }
  .footer__group:nth-of-type(4) .footer__group-item:nth-child(2) span {
    display: block;
    width: 100%;
  }
  .footer__group:nth-of-type(4) .footer__group-item:nth-child(3) {
    padding-bottom: 17px;
  }
  .footer__group:nth-of-type(4) .footer__group-item:nth-child(4) {
    padding-bottom: 15px;
  }
}

.footer__group:nth-of-type(4) .footer__group-list:first-child .footer__group-item:nth-last-child(-n + 3) {
  font-size: 12px;
  line-height: 16px;
}

.footer__group:nth-of-type(5) {
  margin-top: -44px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2 / 4 / 3 / 5;
}

@media (max-width: 1200px) {
  .footer__group:nth-of-type(5) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 3 / 1 / 4 / 4;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .footer__group:nth-of-type(5) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
    margin-top: 0;
  }
}

@media (max-width: 425px) {
  .footer__group:nth-of-type(5) {
    margin-left: 13px;
  }
}

@media (max-width: 375px) {
  .footer__group:nth-of-type(5) .footer__group-list {
    -webkit-transform: translate(-1px, -3px);
            transform: translate(-1px, -3px);
  }
}

.footer__group:nth-of-type(5) .footer__group-item {
  display: inline-block;
}

.footer__group:nth-of-type(5) .footer__group-item:not(:last-child) {
  padding-right: 28px;
}

@media (max-width: 768px) {
  .footer__group:nth-of-type(5) .footer__group-item:not(:last-child) {
    padding-right: 16px;
  }
}

@media (min-width: 1201px) {
  .footer__group:nth-of-type(5) .footer__group-item:nth-child(1) {
    -webkit-transform: translate(0, -3px);
            transform: translate(0, -3px);
  }
  .footer__group:nth-of-type(5) .footer__group-item:nth-child(2) {
    -webkit-transform: translate(-1px, 2px);
            transform: translate(-1px, 2px);
  }
  .footer__group:nth-of-type(5) .footer__group-item:nth-child(3) {
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
  .footer__group:nth-of-type(5) .footer__group-item:nth-child(4) {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
  .footer__group:nth-of-type(5) .footer__group-item:nth-child(5) {
    -webkit-transform: translate(0, -2px);
            transform: translate(0, -2px);
  }
  .footer__group:nth-of-type(5) .footer__group-item:nth-child(6) {
    -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);
  }
}

@media (max-width: 375px) {
  .footer__group:nth-of-type(5) .footer__group-item:nth-child(2) {
    -webkit-transform: translate(21px, 5px);
            transform: translate(21px, 5px);
  }
  .footer__group:nth-of-type(5) .footer__group-item:nth-child(3) {
    -webkit-transform: translate(27px, 5px);
            transform: translate(27px, 5px);
  }
  .footer__group:nth-of-type(5) .footer__group-item:nth-child(4) {
    -webkit-transform: translate(1px, 6px);
            transform: translate(1px, 6px);
  }
  .footer__group:nth-of-type(5) .footer__group-item:nth-child(5) {
    -webkit-transform: translate(6px, 5px);
            transform: translate(6px, 5px);
  }
  .footer__group:nth-of-type(5) .footer__group-item:nth-child(6) {
    -webkit-transform: translate(8px, 6px);
            transform: translate(8px, 6px);
  }
}

.footer__group-social {
  font-family: "Roboto", normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
  padding-bottom: 26px;
}

.footer__group-item {
  font-family: "Roboto", normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 10px;
  color: #889099;
}

.footer__group-item:first-child {
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323642;
  padding-bottom: 19px;
}

.footer__group-link {
  color: #889099;
}
